.spaceFixer{height: 60px;}

.fadePage{
  width: 100vw;
  min-height: var(--main-height);
  background-color: #e5f7f7;
}

.fadePage-enter {
  opacity: 0;
  background-color: #0F0000;
}
.fadePage-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fadePage-exit {
  opacity: 1;
}
.fadePage-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
/**/
