.main{
  width: 100%;
  height: var(--main-height);
}
.main1{
  background-image: url(./../img/bg/fondo.jpg);
  background-color: #03b3b1;  
  background-size: 45vw ;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  padding: 1rem;
}

.content-landing{
  color: white;
  width: 100%;
  max-width: 550px;
  position: relative;
  margin: auto;
  top: 50%; transform: translate(0,-50%);
  padding: 1rem;
}


/*
.main2{
  background: white;
  background-image: linear-gradient(0deg, #80d8d6 0%, #01b1ae 100%);
}

.main3{
  background-color: white;
  background: linear-gradient(0deg, white 0%, #80d8d6 100%);
}
*/

.lastItem{
  margin-right: 2rem;
  position: relative;
}

.lastItem::after{
  content: '';
  position: absolute;
  top: 50%;left: 100%;
  transform: translate(1rem,-50%);
  display: block;
  height: 60%;
  width: 2px;
  border-radius: 20px;
  background: white;
}